In [64]:
import pandas as pd

In [65]:
t1 = pd.read_csv("nacimiento_edad_semana.csv", sep=";", encoding="latin1") #OK1
t2 = pd.read_csv("partos_nacimientos.csv", sep=";", encoding="latin1") 
t3 = pd.read_csv("porcentaje_nacidos_nacionalidad.csv", sep=";", encoding="latin1") #OK2
df_fecundidad = pd.read_csv("tasa_fecundidad_nacionalidad.csv", sep=";") #me gusta mucho las columnas
t5 = pd.read_csv("aborto_metodo.csv", sep=";")#OK3
t6 = pd.read_csv("aborto_edad.csv", sep=";")#OK3
t7 = pd.read_csv("aborto_motivo.csv", sep=";")#OK3
t8 = pd.read_csv("aborto_gestacion.csv", sep=";")#OK3
t9 = pd.read_csv("conyuntural_fecundidad.csv", sep=";", encoding="latin1") #OK2
t10 = pd.read_csv("nacidos_semana_gestacion.csv", sep=";", encoding="latin1") #OK1
t11 = pd.read_csv("hombres_embarazo.csv", sep=";", encoding="latin1")
#df_ive_cat = pd.read_csv("ive_catalunya.csv", sep=";", encoding="latin1")
df_mujeres = pd.read_csv("mujeres_intencion_3años.csv", sep=";")

In [66]:
df_ive_cat = pd.read_csv("ive_catalunya.csv", sep=";")
df_ive_cat.head()

,any,tipus de centre,mètode,finançament públic,grup d'edat,situació de convivència,fills a càrrec,fills vius,país de residència,codi de la comarca de residència,nom de la comarca de residència,país de naixement,primera nacionalitat,situació laboral,ingressos,nombre de casos
0,2007,Centre de fora de Catalunya,Farmacològic,No hi consta,20 a 24 anys,En parella,No hi consta,Cap fill viu,Espanya,22,Montsià,Fora d'Espanya,No Espanyola,Aturada o a la recerca de la primera feina rem...,No,1
1,2007,Centre de fora de Catalunya,Farmacològic,No hi consta,35 a 39 anys,En parella,No hi consta,Cap fill viu,Espanya,9,Baix Ebre,Espanya,Espanyola,Treballadora,Sí,1
2,2007,Centre de fora de Catalunya,Quirúrgic,No hi consta,0 a 19 anys,En parella,No hi consta,Cap fill viu,Espanya,7,Bages,Espanya,Espanyola,Altres,Sí,1
3,2007,Centre de fora de Catalunya,Quirúrgic,No hi consta,0 a 19 anys,En parella,No hi consta,Cap fill viu,Espanya,13,Barcelonès,Fora d'Espanya,No Espanyola,Treballadora,Sí,2
4,2007,Centre de fora de Catalunya,Quirúrgic,No hi consta,0 a 19 anys,En parella,No hi consta,Cap fill viu,Espanya,21,Maresme,Espanya,Espanyola,Aturada o a la recerca de la primera feina rem...,No,1

In [67]:
df_nacimientos_nacionalidad = pd.concat([t3, t9], ignore_index=True)
df_nacimientos_nacionalidad.head(37)

,Nacionalidad,Orden de nacimiento,Totales Territoriales,Periodo,Total
0,EspaÃ±ola,Primero,Total Nacional,2024,"52,70"
1,EspaÃ±ola,Primero,Total Nacional,2023,"52,42"
2,EspaÃ±ola,Primero,Total Nacional,2022,"52,56"
3,EspaÃ±ola,Segundo,Total Nacional,2024,"36,64"
4,EspaÃ±ola,Segundo,Total Nacional,2023,"36,78"
5,EspaÃ±ola,Segundo,Total Nacional,2022,"36,22"
6,EspaÃ±ola,Tercero,Total Nacional,2024,"7,94"
7,EspaÃ±ola,Tercero,Total Nacional,2023,"8,07"
8,EspaÃ±ola,Tercero,Total Nacional,2022,"8,48"
9,EspaÃ±ola,Cuarto y mÃ¡s,Total Nacional,2024,"2,72"
10,EspaÃ±ola,Cuarto y mÃ¡s,Total Nacional,2023,"2,72"
11,EspaÃ±ola,Cuarto y mÃ¡s,Total Nacional,2022,"2,74"
12,Extranjera,Primero,Total Nacional,2024,"44,92"
13,Extranjera,Primero,Total Nacional,2023,"43,71"
14,Extranjera,Primero,Total Nacional,2022,"43,74"
15,Extranjera,Segundo,Total Nacional,2024,"33,43"
16,Extranjera,Segundo,Total Nacional,2023,"33,84"
17,Extranjera,Segundo,Total Nacional,2022,"32,81"
18,Extranjera,Tercero,Total Nacional,2024,"13,92"
19,Extranjera,Tercero,Total Nacional,2023,"14,69"
20,Extranjera,Tercero,Total Nacional,2022,"15,34"
21,Extranjera,Cuarto y mÃ¡s,Total Nacional,2024,"7,73"
22,Extranjera,Cuarto y mÃ¡s,Total Nacional,2023,"7,77"
23,Extranjera,Cuarto y mÃ¡s,Total Nacional,2022,"8,12"
24,Ambas nacionalidades,Todos,Total Nacional,2024,"1,1"
25,Ambas nacionalidades,Todos,Total Nacional,2023,"1,12"
26,Ambas nacionalidades,Todos,Total Nacional,2022,"1,16"
27,Ambas nacionalidades,Todos,Total Nacional,2021,"1,18"
28,Ambas nacionalidades,Todos,Total Nacional,2020,"1,18"
29,Ambas nacionalidades,Todos,Total Nacional,2019,"1,23"
30,Ambas nacionalidades,Todos,Total Nacional,2018,"1,26"
31,Ambas nacionalidades,Todos,Total Nacional,2017,"1,31"
32,Ambas nacionalidades,Todos,Total Nacional,2016,"1,33"
33,Ambas nacionalidades,Todos,Total Nacional,2015,"1,33"
34,Ambas nacionalidades,Todos,Total Nacional,2014,"1,32"
35,Ambas nacionalidades,Todos,Total Nacional,2013,"1,27"
36,Ambas nacionalidades,Todos,Total Nacional,2012,"1,32"

In [68]:
df_nacimientos_nacionalidad  = df_nacimientos_nacionalidad.drop(columns=["Totales Territoriales"])

In [69]:
df_nacimientos_nacionalidad["Nacionalidad"] = (df_nacimientos_nacionalidad['Nacionalidad']
.str.replace('EspaÃ±ola', 'Espanola', regex=False)
.str.replace(' / ', ' ', regex=False)
.str.strip()
)
df_nacimientos_nacionalidad.head()

  Nacionalidad Orden de nacimiento  Periodo  Total
0     Espanola             Primero     2024  52,70
1     Espanola             Primero     2023  52,42
2     Espanola             Primero     2022  52,56
3     Espanola             Segundo     2024  36,64
4     Espanola             Segundo     2023  36,78

In [70]:
df_mujeres.head(38)

,Comunidades y Ciudades Autónomas,Situación sentimental,Tiene hijos,Intención de tener hijos,Total
0,Total Nacional,Total,Total,Total,11.926.861
1,Total Nacional,Total,Total,Tiene intención de tener hijos,2.290.661
2,Total Nacional,Total,Total,No tiene intención de tener hijos,9.636.200
3,Total Nacional,Total,Sin hijos,Total,4.815.743
4,Total Nacional,Total,Sin hijos,Tiene intención de tener hijos,1.419.531
5,Total Nacional,Total,Sin hijos,No tiene intención de tener hijos,3.396.213
6,Total Nacional,Total,Con hijos,Total,7.111.118
7,Total Nacional,Total,Con hijos,Tiene intención de tener hijos,871.130
8,Total Nacional,Total,Con hijos,No tiene intención de tener hijos,6.239.988
9,Total Nacional,Sin pareja,Total,Total,3.202.818
10,Total Nacional,Sin pareja,Total,Tiene intención de tener hijos,494.374
11,Total Nacional,Sin pareja,Total,No tiene intención de tener hijos,2.708.444
12,Total Nacional,Sin pareja,Sin hijos,Total,2.263.406
13,Total Nacional,Sin pareja,Sin hijos,Tiene intención de tener hijos,420.460
14,Total Nacional,Sin pareja,Sin hijos,No tiene intención de tener hijos,1.842.946
15,Total Nacional,Sin pareja,Con hijos,Total,939.412
16,Total Nacional,Sin pareja,Con hijos,Tiene intención de tener hijos,73.914
17,Total Nacional,Sin pareja,Con hijos,No tiene intención de tener hijos,865.498
18,Total Nacional,Pareja con la que convive,Total,Total,7.119.275
19,Total Nacional,Pareja con la que convive,Total,Tiene intención de tener hijos,1.351.038
20,Total Nacional,Pareja con la que convive,Total,No tiene intención de tener hijos,5.768.237
21,Total Nacional,Pareja con la que convive,Sin hijos,Total,1.261.533
22,Total Nacional,Pareja con la que convive,Sin hijos,Tiene intención de tener hijos,605.314
23,Total Nacional,Pareja con la que convive,Sin hijos,No tiene intención de tener hijos,656.219
24,Total Nacional,Pareja con la que convive,Con hijos,Total,5.857.742
25,Total Nacional,Pareja con la que convive,Con hijos,Tiene intención de tener hijos,745.724
26,Total Nacional,Pareja con la que convive,Con hijos,No tiene intención de tener hijos,5.112.018
27,Total Nacional,Pareja con la que no convive,Total,Total,1.604.768
28,Total Nacional,Pareja con la que no convive,Total,Tiene intención de tener hijos,445.249
29,Total Nacional,Pareja con la que no convive,Total,No tiene intención de tener hijos,1.159.519
30,Total Nacional,Pareja con la que no convive,Sin hijos,Total,1.290.804
31,Total Nacional,Pareja con la que no convive,Sin hijos,Tiene intención de tener hijos,393.757
32,Total Nacional,Pareja con la que no convive,Sin hijos,No tiene intención de tener hijos,897.047
33,Total Nacional,Pareja con la que no convive,Con hijos,Total,313.964
34,Total Nacional,Pareja con la que no convive,Con hijos,Tiene intención de tener hijos,51.492
35,Total Nacional,Pareja con la que no convive,Con hijos,No tiene intención de tener hijos,262.472
36,01 Andalucía,Total,Total,Total,2.192.679
37,01 Andalucía,Total,Total,Tiene intención de tener hijos,407.955

In [71]:
df_mujeres.iloc[36:].head(35)

,Comunidades y Ciudades Autónomas,Situación sentimental,Tiene hijos,Intención de tener hijos,Total
36,01 Andalucía,Total,Total,Total,2.192.679
37,01 Andalucía,Total,Total,Tiene intención de tener hijos,407.955
38,01 Andalucía,Total,Total,No tiene intención de tener hijos,1.784.724
39,01 Andalucía,Total,Sin hijos,Total,854.280
40,01 Andalucía,Total,Sin hijos,Tiene intención de tener hijos,249.536
41,01 Andalucía,Total,Sin hijos,No tiene intención de tener hijos,604.744
42,01 Andalucía,Total,Con hijos,Total,1.338.399
43,01 Andalucía,Total,Con hijos,Tiene intención de tener hijos,158.419
44,01 Andalucía,Total,Con hijos,No tiene intención de tener hijos,1.179.980
45,01 Andalucía,Sin pareja,Total,Total,569.718
46,01 Andalucía,Sin pareja,Total,Tiene intención de tener hijos,92.373
47,01 Andalucía,Sin pareja,Total,No tiene intención de tener hijos,477.345
48,01 Andalucía,Sin pareja,Sin hijos,Total,406.555
49,01 Andalucía,Sin pareja,Sin hijos,Tiene intención de tener hijos,74.981
50,01 Andalucía,Sin pareja,Sin hijos,No tiene intención de tener hijos,331.573
51,01 Andalucía,Sin pareja,Con hijos,Total,163.164
52,01 Andalucía,Sin pareja,Con hijos,Tiene intención de tener hijos,17.392
53,01 Andalucía,Sin pareja,Con hijos,No tiene intención de tener hijos,145.772
54,01 Andalucía,Pareja con la que convive,Total,Total,1.308.019
55,01 Andalucía,Pareja con la que convive,Total,Tiene intención de tener hijos,218.932
56,01 Andalucía,Pareja con la que convive,Total,No tiene intención de tener hijos,1.089.086
57,01 Andalucía,Pareja con la que convive,Sin hijos,Total,191.535
58,01 Andalucía,Pareja con la que convive,Sin hijos,Tiene intención de tener hijos,86.160
59,01 Andalucía,Pareja con la que convive,Sin hijos,No tiene intención de tener hijos,105.374
60,01 Andalucía,Pareja con la que convive,Con hijos,Total,1.116.484
61,01 Andalucía,Pareja con la que convive,Con hijos,Tiene intención de tener hijos,132.772
62,01 Andalucía,Pareja con la que convive,Con hijos,No tiene intención de tener hijos,983.712
63,01 Andalucía,Pareja con la que no convive,Total,Total,314.942
64,01 Andalucía,Pareja con la que no convive,Total,Tiene intención de tener hijos,96.650
65,01 Andalucía,Pareja con la que no convive,Total,No tiene intención de tener hijos,218.292
66,01 Andalucía,Pareja con la que no convive,Sin hijos,Total,256.191
67,01 Andalucía,Pareja con la que no convive,Sin hijos,Tiene intención de tener hijos,88.395
68,01 Andalucía,Pareja con la que no convive,Sin hijos,No tiene intención de tener hijos,167.796
69,01 Andalucía,Pareja con la que no convive,Con hijos,Total,58.751
70,01 Andalucía,Pareja con la que no convive,Con hijos,Tiene intención de tener hijos,8.255

In [72]:
df_fecundidad["Comunidades y Ciudades Autónomas"].unique()

array(['Total Nacional', '01 Andalucía', '02 Aragón',
       '03 Asturias, Principado de', '04 Balears, Illes', '05 Canarias',
       '06 Cantabria', '07 Castilla y León', '08 Castilla - La Mancha',
       '09 Cataluña', '10 Comunitat Valenciana', '11 Extremadura',
       '12 Galicia', '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La',
       '18 Ceuta', '19 Melilla'], dtype=object)

In [73]:
df_fecundidad["Total"].unique()

array(['0,07', '0,06', '0,05', ..., '2,64', '3,44', '57,9'], dtype=object)

In [74]:
df_fecundidad["Total_numerico"] = (
    df_fecundidad["Total"]
    .astype(str)
    .str.strip()
    .str.replace(",", ".", regex=False)
    .astype(float)
)
df_fecundidad["Total"].dtype

dtype('O')

In [77]:
df_fecundidad.iloc[3000:].head(40)

,Comunidades y Ciudades Autónomas,Nacionalidad,Edad,Periodo,Total,Total_numerico
3000,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2024,"16,64",16.64
3001,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2023,"17,25",17.25
3002,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2022,"17,63",17.63
3003,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2021,"18,67",18.67
3004,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2020,"17,26",17.26
3005,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2019,"16,4",16.40
3006,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2018,"16,23",16.23
3007,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2017,"16,84",16.84
3008,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2016,"15,71",15.71
3009,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2015,"16,45",16.45
3010,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2014,"15,27",15.27
3011,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2013,"14,67",14.67
3012,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2012,"13,62",13.62
3013,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2011,"13,15",13.15
3014,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2010,"11,61",11.61
3015,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2009,"11,27",11.27
3016,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2008,"10,55",10.55
3017,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2007,"10,34",10.34
3018,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2006,"10,07",10.07
3019,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2005,"8,75",8.75
3020,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2004,"8,71",8.71
3021,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2003,"7,43",7.43
3022,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2002,"7,34",7.34
3023,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2001,"7,19",7.19
3024,02 Aragón,Ambas nacionalidades,De 40 a 44 años,2000,"5,81",5.81
3025,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1999,"5,47",5.47
3026,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1998,"4,34",4.34
3027,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1997,"3,71",3.71
3028,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1996,"4,65",4.65
3029,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1995,"3,76",3.76
3030,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1994,"4,3",4.30
3031,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1993,"3,82",3.82
3032,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1992,"5,07",5.07
3033,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1991,"4,36",4.36
3034,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1990,"4,61",4.61
3035,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1989,"4,76",4.76
3036,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1988,"5,83",5.83
3037,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1987,"6,62",6.62
3038,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1986,"7,95",7.95
3039,02 Aragón,Ambas nacionalidades,De 40 a 44 años,1985,"7,9",7.90

## Tabla temporal de Nacionalidades == Ambas nacionalidades

In [85]:
df_temp_ambas = df_fecundidad[
    (df_fecundidad["Nacionalidad"] == "Ambas nacionalidades") &
    (df_fecundidad["Comunidades y Ciudades Autónomas"] != "Total Nacional")
].copy()

df_temp_ambas["Comunidades y Ciudades Autónomas"].unique()

array(['01 Andalucía', '02 Aragón', '03 Asturias, Principado de',
       '04 Balears, Illes', '05 Canarias', '06 Cantabria',
       '07 Castilla y León', '08 Castilla - La Mancha', '09 Cataluña',
       '10 Comunitat Valenciana', '11 Extremadura', '12 Galicia',
       '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La',
       '18 Ceuta', '19 Melilla'], dtype=object)

## Tablas temporal donde Nacionalidades sea diferente a Ambas nacionalidades

In [84]:
df_temp_extr_esp = df_fecundidad[
    (df_fecundidad["Nacionalidad"].isin(["Extranjera", "Española"])) &
    (df_fecundidad["Comunidades y Ciudades Autónomas"] != "Total Nacional")
].copy()

df_temp_extr_esp

,Comunidades y Ciudades Autónomas,Nacionalidad,Edad,Periodo,Total,Total_numerico
1800,01 Andalucía,Española,De 10 a 14 años,2024,"0,06",0.06
1801,01 Andalucía,Española,De 10 a 14 años,2023,"0,06",0.06
1802,01 Andalucía,Española,De 10 a 14 años,2022,"0,07",0.07
1803,01 Andalucía,Española,De 10 a 14 años,2021,"0,08",0.08
1804,01 Andalucía,Española,De 10 a 14 años,2020,"0,05",0.05
...,...,...,...,...,...,...
26995,19 Melilla,Extranjera,50 y más años,1979,NaN,NaN
26996,19 Melilla,Extranjera,50 y más años,1978,NaN,NaN
26997,19 Melilla,Extranjera,50 y más años,1977,NaN,NaN
26998,19 Melilla,Extranjera,50 y más años,1976,NaN,NaN
26999,19 Melilla,Extranjera,50 y más años,1975,NaN,NaN