
# Mariela Gimenez 
#### Sprint 10: Python

In [357]:

pip install jinja2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jinja2 in /Users/mariela/Library/Python/3.9/lib/python/site-packages (3.1.6)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/mariela/Library/Python/3.9/lib/python/site-packages (from jinja2) (3.0.3)
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [358]:
import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta

In [359]:
df = pd.read_excel("sprint10.xlsx", header=3)
df

,Unnamed: 0,Nom,Cognoms,DNI,País d'origen,Ciutat,Dia de Naixement,Mes de Naixement,Any de Naixement,Gènere,Salari mensual,Fills,No Fills,Grup Professional
0,0,Inês,Ferreira Silva,16928694K,Portugal,Lisboa,25,2,1953,D,1.144 €,NaN,1.0,Grup B
1,1,Clara,Sánchez Martínez,27724652S,Espanya,Barcelona,18,3,1996,D,1.253 €,1.0,NaN,Grup A
2,2,Fatima,Fassi,38141675A,Marroc,Rabat,6,11,2005,A,1.441 €,1.0,NaN,Grup A
3,3,Khadija,Bennani Bennani,59157262R,Marroc,Rabat,20,1,1995,D,1.944 €,NaN,1.0,Grup B
4,4,Toni,Sánchez García,69630528M,Espanya,Barcelona,9,8,1999,H,1.043 €,NaN,1.0,Grup A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Marta,Ferrer Ferrer,25161375F,Espanya,Sevilla,1,6,1951,D,1.216 €,NaN,1.0,Grup B
996,996,Joan,García,52145541P,Espanya,Sevilla,11,4,1959,H,971 €,NaN,1.0,Grup A
997,997,Laia,Ferrer Martínez,69760120X,Espanya,Barcelona,11,11,1980,D,682 €,NaN,1.0,Grup A
998,998,Jordi,García,82947791W,Espanya,Barcelona,23,5,1984,H,1.699 €,1.0,NaN,Grup C
999,999,Clara,Sánchez López,89253307W,Espanya,Bilbao,1,8,1952,D,1.217 €,NaN,1.0,Grup A

In [360]:
df = df.loc[:, ~df.columns.str.contains("^Unnamed")]

df

,Nom,Cognoms,DNI,País d'origen,Ciutat,Dia de Naixement,Mes de Naixement,Any de Naixement,Gènere,Salari mensual,Fills,No Fills,Grup Professional
0,Inês,Ferreira Silva,16928694K,Portugal,Lisboa,25,2,1953,D,1.144 €,NaN,1.0,Grup B
1,Clara,Sánchez Martínez,27724652S,Espanya,Barcelona,18,3,1996,D,1.253 €,1.0,NaN,Grup A
2,Fatima,Fassi,38141675A,Marroc,Rabat,6,11,2005,A,1.441 €,1.0,NaN,Grup A
3,Khadija,Bennani Bennani,59157262R,Marroc,Rabat,20,1,1995,D,1.944 €,NaN,1.0,Grup B
4,Toni,Sánchez García,69630528M,Espanya,Barcelona,9,8,1999,H,1.043 €,NaN,1.0,Grup A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Marta,Ferrer Ferrer,25161375F,Espanya,Sevilla,1,6,1951,D,1.216 €,NaN,1.0,Grup B
996,Joan,García,52145541P,Espanya,Sevilla,11,4,1959,H,971 €,NaN,1.0,Grup A
997,Laia,Ferrer Martínez,69760120X,Espanya,Barcelona,11,11,1980,D,682 €,NaN,1.0,Grup A
998,Jordi,García,82947791W,Espanya,Barcelona,23,5,1984,H,1.699 €,1.0,NaN,Grup C
999,Clara,Sánchez López,89253307W,Espanya,Bilbao,1,8,1952,D,1.217 €,NaN,1.0,Grup A

Ordena el DataFrame pel país d'origen. En cas d'empat, ordena pel nom de la ciutat.

In [361]:
df_ordenado = df.sort_values(by=["País d'origen", 'Ciutat'])
df_ordenado

,Nom,Cognoms,DNI,País d'origen,Ciutat,Dia de Naixement,Mes de Naixement,Any de Naixement,Gènere,Salari mensual,Fills,No Fills,Grup Professional
21,Mia,Schneider Fischer,28973553Z,Alemanya,Berlín,22,10,1976,A,951 €,NaN,1.0,Grup A
154,Laura,Schneider Fischer,37399141L,Alemanya,Berlín,2,2,1958,D,1.769 €,1.0,NaN,Grup B
224,Lea,Schneider Schneider,37368317L,Alemanya,Berlín,23,10,2005,D,2.013 €,NaN,1.0,Grup B
278,Mia,Fischer,21390098Z,Alemanya,Berlín,11,8,1950,D,1.557 €,1.0,NaN,Grup B
602,Jonas,Schneider,44060014R,Alemanya,Berlín,22,11,1985,H,2.754 €,1.0,NaN,Grup D
...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,Emily,Taylor Jones,89577876S,Regne Unit,Manchester,28,3,1958,D,2.033 €,NaN,1.0,Grup B
728,George,Brown Jones,57441590Y,Regne Unit,Manchester,27,12,1979,H,1.130 €,1.0,NaN,Grup A
751,Olivia,Brown Brown,58204038A,Regne Unit,Manchester,28,8,1952,A,1.023 €,NaN,1.0,Grup A
854,Isla,Jones Brown,28367234K,Regne Unit,Manchester,28,3,1999,D,1.197 €,NaN,1.0,Grup A
872,William,Smith,82046699J,Regne Unit,Manchester,19,5,1997,H,1.405 €,1.0,NaN,Grup A

In [362]:
df.head(10)

,Nom,Cognoms,DNI,País d'origen,Ciutat,Dia de Naixement,Mes de Naixement,Any de Naixement,Gènere,Salari mensual,Fills,No Fills,Grup Professional
0,Inês,Ferreira Silva,16928694K,Portugal,Lisboa,25,2,1953,D,1.144 €,NaN,1.0,Grup B
1,Clara,Sánchez Martínez,27724652S,Espanya,Barcelona,18,3,1996,D,1.253 €,1.0,NaN,Grup A
2,Fatima,Fassi,38141675A,Marroc,Rabat,6,11,2005,A,1.441 €,1.0,NaN,Grup A
3,Khadija,Bennani Bennani,59157262R,Marroc,Rabat,20,1,1995,D,1.944 €,NaN,1.0,Grup B
4,Toni,Sánchez García,69630528M,Espanya,Barcelona,9,8,1999,H,1.043 €,NaN,1.0,Grup A
5,Laia,Castells Ferrer,26930927E,Espanya,Madrid,16,12,1953,A,2.611 €,NaN,1.0,Grup D
6,Carla,García,78247593G,Espanya,València,24,12,1957,D,942 €,NaN,1.0,Grup A
7,Marco,Rossi,21774231J,Itàlia,Torí,3,11,2002,A,1.494 €,NaN,1.0,Grup A
8,Alessia,Rossi,87316866D,Itàlia,Milà,6,12,1989,D,1.366 €,NaN,1.0,Grup A
9,Toni,Martínez,14219925Z,Espanya,Barcelona,16,5,1964,H,891 €,NaN,1.0,Grup A

Addicionalment, fes un print on comprovi que el DNI només té valors únics.

In [363]:
df_valores_unicos = df["DNI"].unique()
df_valores_unicos

array(['16928694K', '27724652S', '38141675A', '59157262R', '69630528M',
       '26930927E', '78247593G', '21774231J', '87316866D', '14219925Z',
       '40695825B', '96880751H', '66129686T', '74222289K', '83982081H',
       '33234964B', '86981189A', '13107162J', '22021087Z', '87645157V',
       '29801291B', '28973553Z', '98967015K', '23837247D', '83874145K',
       '58465525T', '17029292R', '43855905B', '89977538X', '24894099R',
       '47103299Z', '59690898N', '60170471X', '18876645B', '48870261R',
       '37846341L', '67466708W', '33445957H', '95012750D', '96482330F',
       '42754306Q', '17856143W', '52684613F', '38605068P', '90731738C',
       '45888164B', '89187959Z', '17851044J', '13327616P', '71226479A',
       '10911456V', '58027402M', '29075001G', '75145716V', '16587202X',
       '32306507M', '69153285Z', '61151031X', '43485739Q', '83083855T',
       '53037156T', '66876326G', '32384138R', '27772301M', '44988676P',
       '55802716W', '58904747N', '86310227T', '89245220G', '79942683D',
       '32447081S', '79911049R', '17393705Z', '94678339J', '39421964W',
       '82819660N', '63852668M', '98082914F', '57230838V', '96108474K',
       '31532532F', '96617848Y', '41282325G', '14944003P', '34050427S',
       '64134967K', '23876940J', '17081236L', '90370999E', '98288475Z',
       '80981912X', '49728917R', '64074954W', '31039740J', '82284855A',
       '45581974X', '76740096F', '91110497A', '42373200J', '97855153L',
       '91877877E', '92828803F', '30477300W', '24213568B', '69934163X',
       '48108194K', '35957209T', '36035835A', '25463106V', '80887497Q',
       '89652804F', '90181637T', '85738042R', '98761038G', '82953871E',
       '58847232T', '60585845J', '42278299Y', '35072309W', '98253101W',
       '85696755S', '57340670Z', '45293682M', '68948799D', '22972474K',
       '18522481J', '23128433S', '43378401L', '77333333Q', '62356732M',
       '78286678X', '21762997G', '57021851P', '76101195A', '53012171X',
       '41156735G', '63688361W', '58619725P', '12234836K', '99521295N',
       '96178808S', '98226417L', '99620931S', '65405375Z', '10674532Q',
       '55464877X', '25710763B', '58966169Z', '76564295Y', '30574341W',
       '97566754L', '32044922L', '54607036B', '27007812G', '37399141L',
       '20733024B', '15110846Z', '83165476Y', '53967981Q', '28967396E',
       '52195959W', '47304350Y', '93759961P', '45820844F', '89715580M',
       '54585678Q', '42625930X', '44075059L', '14065699S', '13695774G',
       '24435321M', '12499600L', '68455541R', '81229041Z', '15812105B',
       '12763903J', '87744901Q', '99258742G', '28996393T', '55395479J',
       '33484869X', '88845881E', '68523497H', '33939128K', '28394981G',
       '13453262F', '96105165A', '83703395A', '85011730B', '26724488C',
       '76202240S', '73749390X', '85141625T', '42823610D', '59073585L',
       '75141877A', '43586389Z', '98144857C', '65912422Z', '18599075T',
       '33058070M', '41916963A', '33287222R', '18968118M', '52655443Q',
       '77962069Z', '29151933K', '79849410R', '46969469J', '58786173A',
       '21050694P', '80377928E', '90216874S', '35319597A', '78873166E',
       '50776135C', '20477181R', '96251362T', '21898585T', '74017954Q',
       '73128127J', '73563832M', '86350703G', '60439277L', '37368317L',
       '24418722F', '93647831W', '86767469V', '63099488Q', '16775772V',
       '58136944R', '43731528C', '83710837G', '56628392X', '37718344N',
       '77632270Q', '80554783G', '76674953J', '91487269P', '10261037F',
       '72940295V', '53263676R', '33077646V', '56070621Z', '69273831N',
       '27292471C', '69900538Q', '42831725E', '97525504X', '41171214L',
       '49833520M', '15594293F', '30736318Q', '57192874B', '94898766F',
       '87813160D', '51884150Q', '31682831V', '65118360Z', '81992107P',
       '21526488C', '81401769X', '98052221N', '49061102W', '68625528R',
       '58101481N', '12401771G', '60287803J', '24315095T', '14473175F',
       '56555741Z', '16472230S', '29758839B', '34349532Y', '52037173E',
       '38355195J', '61746871V', '59810160K', '21390098Z', '43764388P',
       '10102138Q', '23266650S', '74165595P', '37325572G', '21309247F',
       '92913286B', '71124235C', '14688639J', '42839231P', '90781919E',
       '56867791S', '80471691R', '66854670R', '43099073D', '61862070S',
       '71930041T', '20637004R', '59715366K', '91287275Z', '16777341F',
       '92774049Y', '93432185G', '20520614Y', '42280605C', '38867232T',
       '15056420W', '73661586C', '21786454M', '28269893J', '66171387W',
       '26819385K', '66434842X', '63679621R', '59071537P', '12700084Q',
       '17102266H', '21135917V', '62868203H', '47660164G', '62152209S',
       '29753711H', '57378189F', '79676573H', '96964440V', '94719538H',
       '57512928A', '80030295H', '25373007Z', '14889781M', '90109014Q',
       '78532778V', '16129804M', '92922593Z', '93040786Z', '93244065C',
       '89271483K', '54523654J', '25654945Y', '59372221S', '61477292C',
       '65882859J', '86419307C', '14486584J', '74694535Z', '29043853R',
       '98830242H', '87981337P', '37195438N', '26427399L', '44910416G',
       '60957935K', '57544317R', '38593878Z', '57180085D', '23492566L',
       '13998302S', '47351659S', '72888019J', '37774950Y', '99123197C',
       '37655961A', '50292113M', '65737147M', '16112726L', '53518484J',
       '68186758D', '66520712S', '10882370B', '89173930Q', '47195129C',
       '18575690Y', '15387541Y', '57892591M', '50829502T', '25403469P',
       '53457611N', '94076717B', '59779704A', '35566470L', '91347406Y',
       '93122931K', '63960462M', '45074340P', '43756083N', '82052269P',
       '17966918Y', '75892043S', '29471837G', '13508244R', '25331092S',
       '28171073A', '17164182B', '89805468T', '10352133N', '63108914N',
       '29550519X', '94310395L', '85031552D', '87427498D', '19404501Z',
       '17972901L', '67320503B', '92286029R', '13299063V', '66183009R',
       '90904549G', '19631537S', '93623062E', '67537453P', '73587985T',
       '48610709N', '27295557B', '10624826J', '37416719D', '91797004K',
       '97299170Q', '98511923W', '20460695D', '27053674Z', '50115394L',
       '88308185F', '59487847J', '47905259N', '54313717Q', '38394682L',
       '33214782A', '30011388C', '31274825R', '14828163F', '15838881W',
       '88164399Q', '19356603P', '19313369G', '83561180C', '80116589E',
       '83274277X', '70945038M', '93868679R', '26634596X', '59909991M',
       '53118513Z', '55213721K', '17523109M', '58817861M', '60161784X',
       '66590677S', '89545864F', '70113350T', '53672811D', '67472696R',
       '19178233C', '30289780L', '34121407E', '79349076S', '66268793B',
       '35909931K', '50085415G', '88571285P', '53588164S', '75690264M',
       '27395242L', '29092175V', '97241617V', '72488520Y', '87072861Y',
       '99946609J', '77786231R', '18736805D', '16349607A', '28923859R',
       '67448348B', '19835344L', '35978728B', '44603694F', '50351415W',
       '72548015K', '63645871Q', '83461359C', '59804478P', '46470158A',
       '12689894Z', '17266104D', '63487190Q', '15071348H', '93757958D',
       '52501105S', '89757860E', '60982309S', '49562152B', '89595235W',
       '71304182R', '32909990R', '15228560C', '44724403H', '54525691Y',
       '74821823F', '20214876P', '61343247E', '36334567G', '41974885N',
       '47691452T', '48127366Y', '49287703B', '78223675H', '82418527A',
       '75949005H', '65339008Z', '64394445D', '72374089J', '18457673C',
       '91690612P', '33585026G', '32219930D', '90216535S', '74822167B',
       '23955973V', '18479670K', '75340954W', '68247465J', '24238964E',
       '12767161T', '30932082P', '74074321A', '46145725B', '82680101W',
       '97294667E', '35241609K', '87906075W', '31059050X', '60378955C',
       '72168409M', '44215821L', '53071392K', '23058334Y', '48242975Q',
       '16218169P', '81901030H', '26689120S', '69723912X', '87631058F',
       '58004635G', '33400905A', '68343127F', '25439397A', '99688433B',
       '16378767Z', '74158500N', '89577876S', '76782023V', '87154578D',
       '19721783S', '99611153A', '84495908R', '29203160E', '73063501Z',
       '36106979Y', '87257820C', '62035858J', '90389717L', '85693556P',
       '97143963K', '27368854D', '41260739H', '58740246B', '14098793R',
       '68722397X', '39929911E', '36717144Q', '12118177C', '70806232V',
       '52604206S', '97210518F', '44505750Y', '89141927S', '19113138L',
       '83374173K', '31397148Y', '15336274M', '41718924T', '35577350W',
       '11062448Q', '44346665J', '83602803G', '52759329M', '28210536A',
       '31675368R', '76436789V', '84904881L', '89450981Z', '76029605D',
       '80909731Y', '66842033A', '44245943V', '54853635H', '44569678M',
       '87865381W', '21820075A', '81398413Q', '57692936L', '17135791L',
       '76257088H', '15664344B', '44060014R', '51635247N', '13357124H',
       '42128077K', '49180523M', '53983933P', '64697693K', '15021643F',
       '96612764F', '71377022P', '43507453W', '26414747E', '69931972C',
       '86555403J', '53653173V', '15138029Q', '52720140A', '19863880V',
       '53822006D', '18876694Z', '67985873N', '78668978W', '15895974X',
       '51927396G', '49846108N', '30525996L', '46129359E', '54990944C',
       '90464341H', '19814204M', '46035899S', '38832908L', '18647358J',
       '11156851X', '38127780Y', '61239482R', '95204020C', '12868239Z',
       '71461971W', '31958336Z', '69796526G', '45203656T', '80122915D',
       '19508494Q', '86198614J', '37757421G', '14219190G', '33177087Z',
       '65535145H', '18873517G', '45620823H', '68222849D', '14778034E',
       '32873655H', '74293523P', '49127195L', '32610074J', '17792481K',
       '75293326J', '81156988L', '60352406T', '29661736H', '94035504X',
       '85975055P', '72988314H', '25144352S', '53730243G', '66192865D',
       '21285125Z', '11962486C', '26130098V', '82495492K', '22553315Z',
       '51701516Z', '77255461X', '50017849P', '63666276G', '14532429J',
       '48928716V', '92136991X', '80745485X', '20554785E', '18783620K',
       '77617404G', '14270387K', '33366982Q', '72582805W', '52982989C',
       '96850216C', '81908160Z', '93864786W', '58780487Q', '68747775D',
       '39256461F', '53837158P', '21123762J', '87203712F', '94864855F',
       '22768293W', '83942911L', '61643122A', '80132051V', '49962478C',
       '49561814F', '41288932T', '36744704Y', '13080692S', '75528612H',
       '14345055N', '99934405Q', '54035649P', '65854367Q', '54906134P',
       '42177426S', '70317853J', '66795744Q', '47126739B', '38900939H',
       '46674072A', '37528225W', '29356893J', '84944664N', '42592903R',
       '96810023K', '95233500R', '48918423X', '57441590Y', '14579601F',
       '10570045V', '58423324H', '76315436N', '27743987C', '30532432L',
       '25178167X', '87416108F', '60786095W', '90131757Y', '95250887Z',
       '19039929Q', '87285985P', '73118029L', '13814869T', '23290905N',
       '65314666K', '87956285P', '60189754G', '28369496M', '30561064P',
       '99057187Q', '58204038A', '14157308N', '98834273R', '73829702G',
       '41366739S', '97687146Q', '83294970L', '90364828E', '16082109P',
       '72654945E', '67234434Y', '93347578D', '26631271T', '64708400Q',
       '94224511S', '73326255V', '83613978F', '51525932J', '64443494X',
       '54172956P', '23397473D', '44026048T', '43409433Y', '68548102E',
       '79888539R', '39025961G', '68512981B', '32095971T', '82936531F',
       '84414697K', '76096673N', '20049413F', '47702024A', '70201568H',
       '36305607S', '89826839F', '21546595T', '26880397A', '47853239E',
       '20752389X', '78312427G', '62062006Z', '73130661B', '70773495X',
       '93384627N', '25490219L', '56029646T', '41625678H', '83262533Z',
       '28370355T', '57516393C', '79003381D', '83094572C', '64200072V',
       '90082879P', '59664001Z', '25380605S', '41326173T', '81124534E',
       '22914113G', '43658248F', '15277702T', '31385792P', '31281157W',
       '23733093T', '96925654W', '18279367H', '65476112E', '87991679M',
       '13257049V', '67762046W', '90958057L', '92984183N', '25883422V',
       '92292409L', '10736038P', '95605596P', '23188733V', '43195593E',
       '59876171G', '99565242W', '28237150F', '49176508C', '45323039E',
       '20335877M', '63445794B', '26977768S', '11305351X', '19888245C',
       '83539759S', '95031765F', '87757452L', '61051397G', '63040392X',
       '44065719N', '50496524Y', '92210964M', '99383081M', '76741258Y',
       '38241293F', '40194783Y', '28196940Z', '98801519G', '28367234K',
       '92775120P', '32285371X', '28421457Z', '58632182Z', '32149349F',
       '27247467S', '17088262F', '66120457F', '60305889V', '78697534Q',
       '20692229R', '72513763X', '39270256A', '24881645Q', '31713444D',
       '63182449W', '14773153R', '82046699J', '25997800F', '86893272V',
       '93782971H', '21277706W', '69079699D', '70418524X', '49712589T',
       '90985453R', '19304110P', '15566633F', '11119181K', '51235097D',
       '23333032N', '80657664E', '90914480C', '21163199Y', '38279546W',
       '68438696L', '84844149K', '26365080Y', '91233007A', '55212704B',
       '55178117L', '23895788L', '23763581C', '21674643A', '76568322R',
       '59758346F', '39104359X', '75347458Q', '56408493L', '54347378D',
       '24140397D', '53176287C', '80044333C', '77158777S', '89195587K',
       '95216936L', '18457585L', '23645745S', '65159318X', '40039044H',
       '66460797A', '69734812N', '12559305B', '54263997Y', '87213442J',
       '92018667L', '22118978G', '78458482P', '29153728J', '82204716Y',
       '34370425H', '80698214F', '50261072D', '43414375Y', '96250825S',
       '74953524F', '59717596Z', '21977779F', '20428037K', '58088881Q',
       '37902729B', '95842086Q', '12935907W', '23385179B', '71312672X',
       '23931178W', '96487370W', '77665617B', '43437575V', '42807414J',
       '56402346W', '86366713Z', '21159286B', '61558898W', '38147748A',
       '49560214X', '83600087R', '96650060J', '86899840T', '67837921D',
       '22381649M', '12091945C', '71514483K', '48749091Z', '93349542M',
       '48597672J', '29019539A', '98430241N', '89759837X', '88420532P',
       '77573960D', '69520375Z', '75634877M', '58558026P', '94364172S',
       '86656444H', '46192881X', '85620401P', '90836935Y', '67475809B',
       '21511240Y', '13600054Y', '25564518R', '14371347B', '80867475E',
       '54542153E', '43630705N', '93060003K', '30892443R', '88020602R',
       '88633819Y', '26804172P', '92573413K', '47075714S', '58404017Q',
       '96890044J', '22942395H', '59083606S', '25874228C', '44074013Q',
       '25161375F', '52145541P', '69760120X', '82947791W', '89253307W'],
      dtype=object)

# 2. Ejercicio 
 
 Crea una columna que sigui el nom complet.

In [364]:
df["nombre_completo"] = df['Nom'].str.cat(df['Cognoms'], sep=' ')
df

,Nom,Cognoms,DNI,País d'origen,Ciutat,Dia de Naixement,Mes de Naixement,Any de Naixement,Gènere,Salari mensual,Fills,No Fills,Grup Professional,nombre_completo
0,Inês,Ferreira Silva,16928694K,Portugal,Lisboa,25,2,1953,D,1.144 €,NaN,1.0,Grup B,Inês Ferreira Silva
1,Clara,Sánchez Martínez,27724652S,Espanya,Barcelona,18,3,1996,D,1.253 €,1.0,NaN,Grup A,Clara Sánchez Martínez
2,Fatima,Fassi,38141675A,Marroc,Rabat,6,11,2005,A,1.441 €,1.0,NaN,Grup A,Fatima Fassi
3,Khadija,Bennani Bennani,59157262R,Marroc,Rabat,20,1,1995,D,1.944 €,NaN,1.0,Grup B,Khadija Bennani Bennani
4,Toni,Sánchez García,69630528M,Espanya,Barcelona,9,8,1999,H,1.043 €,NaN,1.0,Grup A,Toni Sánchez García
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Marta,Ferrer Ferrer,25161375F,Espanya,Sevilla,1,6,1951,D,1.216 €,NaN,1.0,Grup B,Marta Ferrer Ferrer
996,Joan,García,52145541P,Espanya,Sevilla,11,4,1959,H,971 €,NaN,1.0,Grup A,Joan García
997,Laia,Ferrer Martínez,69760120X,Espanya,Barcelona,11,11,1980,D,682 €,NaN,1.0,Grup A,Laia Ferrer Martínez
998,Jordi,García,82947791W,Espanya,Barcelona,23,5,1984,H,1.699 €,1.0,NaN,Grup C,Jordi García
999,Clara,Sánchez López,89253307W,Espanya,Bilbao,1,8,1952,D,1.217 €,NaN,1.0,Grup A,Clara Sánchez López

Crea una columna si la persona és nascuda a Espanya o no.

In [365]:
df["nacida_en_españa"] = df["País d'origen"].apply(lambda x: "Si" if x == "Espanya" else "No")
df

,Nom,Cognoms,DNI,País d'origen,Ciutat,Dia de Naixement,Mes de Naixement,Any de Naixement,Gènere,Salari mensual,Fills,No Fills,Grup Professional,nombre_completo,nacida_en_españa
0,Inês,Ferreira Silva,16928694K,Portugal,Lisboa,25,2,1953,D,1.144 €,NaN,1.0,Grup B,Inês Ferreira Silva,No
1,Clara,Sánchez Martínez,27724652S,Espanya,Barcelona,18,3,1996,D,1.253 €,1.0,NaN,Grup A,Clara Sánchez Martínez,Si
2,Fatima,Fassi,38141675A,Marroc,Rabat,6,11,2005,A,1.441 €,1.0,NaN,Grup A,Fatima Fassi,No
3,Khadija,Bennani Bennani,59157262R,Marroc,Rabat,20,1,1995,D,1.944 €,NaN,1.0,Grup B,Khadija Bennani Bennani,No
4,Toni,Sánchez García,69630528M,Espanya,Barcelona,9,8,1999,H,1.043 €,NaN,1.0,Grup A,Toni Sánchez García,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Marta,Ferrer Ferrer,25161375F,Espanya,Sevilla,1,6,1951,D,1.216 €,NaN,1.0,Grup B,Marta Ferrer Ferrer,Si
996,Joan,García,52145541P,Espanya,Sevilla,11,4,1959,H,971 €,NaN,1.0,Grup A,Joan García,Si
997,Laia,Ferrer Martínez,69760120X,Espanya,Barcelona,11,11,1980,D,682 €,NaN,1.0,Grup A,Laia Ferrer Martínez,Si
998,Jordi,García,82947791W,Espanya,Barcelona,23,5,1984,H,1.699 €,1.0,NaN,Grup C,Jordi García,Si
999,Clara,Sánchez López,89253307W,Espanya,Bilbao,1,8,1952,D,1.217 €,NaN,1.0,Grup A,Clara Sánchez López,Si

Posa el DNI com a índex del DataFrame (noms de files).

In [366]:
df.set_index('DNI', inplace=True)

Substitueix el nom de les columnes Dia de Naixement, Mes de Naixement i Any de Naixement per Dia, Mes i Any.

In [367]:
df.rename(columns={'Dia de Naixement': 'Dia', 'Mes de Naixement': 'Mes', 'Any de Naixement': 'Any'}, inplace=True)

Substitueix H per Home, D per Dona, A per Altres i NC per una dada faltant (nan/null/na).

In [368]:
df["Gènere"].replace({"D": "Dona", "H" : "Home", "A" : "Altres", "NC" : "null"}, inplace=True)
df

/var/folders/7n/ttps7twj3yq842k05ls60w5r0000gp/T/ipykernel_65313/2639153005.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Gènere"].replace({"D": "Dona", "H" : "Home", "A" : "Altres", "NC" : "null"}, inplace=True)

,Nom,Cognoms,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,No Fills,Grup Professional,nombre_completo,nacida_en_españa
DNI,,,,,,,,,,,,,,
16928694K,Inês,Ferreira Silva,Portugal,Lisboa,25,2,1953,Dona,1.144 €,NaN,1.0,Grup B,Inês Ferreira Silva,No
27724652S,Clara,Sánchez Martínez,Espanya,Barcelona,18,3,1996,Dona,1.253 €,1.0,NaN,Grup A,Clara Sánchez Martínez,Si
38141675A,Fatima,Fassi,Marroc,Rabat,6,11,2005,Altres,1.441 €,1.0,NaN,Grup A,Fatima Fassi,No
59157262R,Khadija,Bennani Bennani,Marroc,Rabat,20,1,1995,Dona,1.944 €,NaN,1.0,Grup B,Khadija Bennani Bennani,No
69630528M,Toni,Sánchez García,Espanya,Barcelona,9,8,1999,Home,1.043 €,NaN,1.0,Grup A,Toni Sánchez García,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25161375F,Marta,Ferrer Ferrer,Espanya,Sevilla,1,6,1951,Dona,1.216 €,NaN,1.0,Grup B,Marta Ferrer Ferrer,Si
52145541P,Joan,García,Espanya,Sevilla,11,4,1959,Home,971 €,NaN,1.0,Grup A,Joan García,Si
69760120X,Laia,Ferrer Martínez,Espanya,Barcelona,11,11,1980,Dona,682 €,NaN,1.0,Grup A,Laia Ferrer Martínez,Si
82947791W,Jordi,García,Espanya,Barcelona,23,5,1984,Home,1.699 €,1.0,NaN,Grup C,Jordi García,Si
89253307W,Clara,Sánchez López,Espanya,Bilbao,1,8,1952,Dona,1.217 €,NaN,1.0,Grup A,Clara Sánchez López,Si

## 3. Ejercicio
Junta les columnes Fills i No Fills en una sola columna, utilitzant el mètode .apply() i definint una funció que resolgui el problema. La columna nova ha de dir-se "Fills" i prendre els valors "Sí" o "No".

In [369]:
df['Fills_'] = df.apply(lambda x: "Si" if x['Fills'] == 1.0 else "No", axis=1)
df

,Nom,Cognoms,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,No Fills,Grup Professional,nombre_completo,nacida_en_españa,Fills_
DNI,,,,,,,,,,,,,,,
16928694K,Inês,Ferreira Silva,Portugal,Lisboa,25,2,1953,Dona,1.144 €,NaN,1.0,Grup B,Inês Ferreira Silva,No,No
27724652S,Clara,Sánchez Martínez,Espanya,Barcelona,18,3,1996,Dona,1.253 €,1.0,NaN,Grup A,Clara Sánchez Martínez,Si,Si
38141675A,Fatima,Fassi,Marroc,Rabat,6,11,2005,Altres,1.441 €,1.0,NaN,Grup A,Fatima Fassi,No,Si
59157262R,Khadija,Bennani Bennani,Marroc,Rabat,20,1,1995,Dona,1.944 €,NaN,1.0,Grup B,Khadija Bennani Bennani,No,No
69630528M,Toni,Sánchez García,Espanya,Barcelona,9,8,1999,Home,1.043 €,NaN,1.0,Grup A,Toni Sánchez García,Si,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25161375F,Marta,Ferrer Ferrer,Espanya,Sevilla,1,6,1951,Dona,1.216 €,NaN,1.0,Grup B,Marta Ferrer Ferrer,Si,No
52145541P,Joan,García,Espanya,Sevilla,11,4,1959,Home,971 €,NaN,1.0,Grup A,Joan García,Si,No
69760120X,Laia,Ferrer Martínez,Espanya,Barcelona,11,11,1980,Dona,682 €,NaN,1.0,Grup A,Laia Ferrer Martínez,Si,No
82947791W,Jordi,García,Espanya,Barcelona,23,5,1984,Home,1.699 €,1.0,NaN,Grup C,Jordi García,Si,Si
89253307W,Clara,Sánchez López,Espanya,Bilbao,1,8,1952,Dona,1.217 €,NaN,1.0,Grup A,Clara Sánchez López,Si,No

# 4 Ejercicio

4.1 Crea una taula resum que permeti veure el sou medià, mig, mínim i màxim per Gènere.

In [370]:
df["Salari mensual"] = (df["Salari mensual"].replace({"€" : "" , ",": ".", " ":""},regex=True)) #para reemplzar 

df["Salari mensual"] = pd.to_numeric(df["Salari mensual"] ,errors ="coerce")

In [371]:
resumen_tabla = df.groupby("Gènere")["Salari mensual"].agg(["median", "mean", "min", "max"])
resumen_tabla

        median        mean    min    max
Gènere
Altres  1.8170  132.221353  1.023  996.0
Dona    1.6265  162.231248  1.001  999.0
Home    1.6680   98.330430  1.000  997.0
null    1.5885  117.203117  1.012  974.0

4.2 Ordena la taula en funció del sou mig.

In [372]:
resumen_tabla.sort_values(by="mean", ascending=False,inplace=True) 
resumen_tabla

        median        mean    min    max
Gènere
Dona    1.6265  162.231248  1.001  999.0
Altres  1.8170  132.221353  1.023  996.0
null    1.5885  117.203117  1.012  974.0
Home    1.6680   98.330430  1.000  997.0

# 5 Ejercicio

Crea una taula resum amb el salari mig per gènere (files) i país d'origen (columnes).

In [373]:
resumen_tabla_mean = df.pivot_table(
                            values='Salari mensual',
                            index='Gènere',
                            columns="País d'origen",
                            aggfunc='mean'
                        ).round(2)
resumen_tabla_mean

País d'origen,Alemanya,Argentina,Colòmbia,Espanya,França,Itàlia,Marroc,Mèxic,Portugal,Regne Unit
Gènere,,,,,,,,,,
Altres,951.00,1.14,498.53,140.39,NaN,1.42,1.36,1.37,1.76,1.92
Dona,60.67,245.15,184.26,173.38,146.60,162.81,62.34,151.07,150.43,54.05
Home,2.07,106.54,109.98,93.66,207.18,119.06,178.85,1.62,1.50,212.95
null,1.93,253.55,1.25,101.87,1.57,1.32,1.37,1.58,468.84,1.76

Afegeix-hi les mitjanes als marges de la taula.

(EXTRA): Aplica format condicional a la taula per veure en un color més intens els valors més elevats

In [374]:
styled_df = resumen_tabla_mean.style.highlight_max(color='red',axis=0)
styled_df

# 6 Ejercicio

6.1 Crea una columna nova que sigui la data de naixament en format Datetime a partir de les columnes dia, mes i any. Utilitzant aquesta columna crea una funció que donada una data, et calculi l'edat actual a dia d'avui.

In [375]:
df['fecha_nacimiento'] = pd.to_datetime(df.rename(columns={'Any': 'year', 'Mes': 'month', 'Dia': 'day'})[['year', 'month', 'day']])
df

,Nom,Cognoms,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,No Fills,Grup Professional,nombre_completo,nacida_en_españa,Fills_,fecha_nacimiento
DNI,,,,,,,,,,,,,,,,
16928694K,Inês,Ferreira Silva,Portugal,Lisboa,25,2,1953,Dona,1.144,NaN,1.0,Grup B,Inês Ferreira Silva,No,No,1953-02-25
27724652S,Clara,Sánchez Martínez,Espanya,Barcelona,18,3,1996,Dona,1.253,1.0,NaN,Grup A,Clara Sánchez Martínez,Si,Si,1996-03-18
38141675A,Fatima,Fassi,Marroc,Rabat,6,11,2005,Altres,1.441,1.0,NaN,Grup A,Fatima Fassi,No,Si,2005-11-06
59157262R,Khadija,Bennani Bennani,Marroc,Rabat,20,1,1995,Dona,1.944,NaN,1.0,Grup B,Khadija Bennani Bennani,No,No,1995-01-20
69630528M,Toni,Sánchez García,Espanya,Barcelona,9,8,1999,Home,1.043,NaN,1.0,Grup A,Toni Sánchez García,Si,No,1999-08-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25161375F,Marta,Ferrer Ferrer,Espanya,Sevilla,1,6,1951,Dona,1.216,NaN,1.0,Grup B,Marta Ferrer Ferrer,Si,No,1951-06-01
52145541P,Joan,García,Espanya,Sevilla,11,4,1959,Home,971.000,NaN,1.0,Grup A,Joan García,Si,No,1959-04-11
69760120X,Laia,Ferrer Martínez,Espanya,Barcelona,11,11,1980,Dona,682.000,NaN,1.0,Grup A,Laia Ferrer Martínez,Si,No,1980-11-11
82947791W,Jordi,García,Espanya,Barcelona,23,5,1984,Home,1.699,1.0,NaN,Grup C,Jordi García,Si,Si,1984-05-23
89253307W,Clara,Sánchez López,Espanya,Bilbao,1,8,1952,Dona,1.217,NaN,1.0,Grup A,Clara Sánchez López,Si,No,1952-08-01

6.2 Utilitza la funció que acabes de crear per generar una columna nova al DataFrame amb l'edat actual.

In [376]:
def calcular_edad_actual(fecha_nacimiento):
    hoy = date.today()
    edad = hoy.year - fecha_nacimiento.year
    if (hoy.month, hoy.day) < (fecha_nacimiento.month, fecha_nacimiento.day):
        edad -= 1
    return edad

df['Edad_actual'] = df['fecha_nacimiento'].apply(calcular_edad_actual)
df

,Nom,Cognoms,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,No Fills,Grup Professional,nombre_completo,nacida_en_españa,Fills_,fecha_nacimiento,Edad_actual
DNI,,,,,,,,,,,,,,,,,
16928694K,Inês,Ferreira Silva,Portugal,Lisboa,25,2,1953,Dona,1.144,NaN,1.0,Grup B,Inês Ferreira Silva,No,No,1953-02-25,72
27724652S,Clara,Sánchez Martínez,Espanya,Barcelona,18,3,1996,Dona,1.253,1.0,NaN,Grup A,Clara Sánchez Martínez,Si,Si,1996-03-18,29
38141675A,Fatima,Fassi,Marroc,Rabat,6,11,2005,Altres,1.441,1.0,NaN,Grup A,Fatima Fassi,No,Si,2005-11-06,19
59157262R,Khadija,Bennani Bennani,Marroc,Rabat,20,1,1995,Dona,1.944,NaN,1.0,Grup B,Khadija Bennani Bennani,No,No,1995-01-20,30
69630528M,Toni,Sánchez García,Espanya,Barcelona,9,8,1999,Home,1.043,NaN,1.0,Grup A,Toni Sánchez García,Si,No,1999-08-09,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25161375F,Marta,Ferrer Ferrer,Espanya,Sevilla,1,6,1951,Dona,1.216,NaN,1.0,Grup B,Marta Ferrer Ferrer,Si,No,1951-06-01,74
52145541P,Joan,García,Espanya,Sevilla,11,4,1959,Home,971.000,NaN,1.0,Grup A,Joan García,Si,No,1959-04-11,66
69760120X,Laia,Ferrer Martínez,Espanya,Barcelona,11,11,1980,Dona,682.000,NaN,1.0,Grup A,Laia Ferrer Martínez,Si,No,1980-11-11,44
82947791W,Jordi,García,Espanya,Barcelona,23,5,1984,Home,1.699,1.0,NaN,Grup C,Jordi García,Si,Si,1984-05-23,41
89253307W,Clara,Sánchez López,Espanya,Bilbao,1,8,1952,Dona,1.217,NaN,1.0,Grup A,Clara Sánchez López,Si,No,1952-08-01,73

# NIVEL 2

## 1 Ejercicio

1.1 Utilitzant el següent DataFrame, adjunta la columna "Increment" al dataframe del nivell anterior.

In [377]:
df_increment = pd.DataFrame({"Grup":["Grup A","Grup B","Grup C", "Grup D" ] , "Increment": ["5%","3,5%","2%","8%"]})


#limpiar los datos del nuevo dataframe 
df_increment['Increment'] = (
    df_increment['Increment']
    .str.replace('%', '', regex=False)
    .str.replace(',', '.', regex=False)
    .astype(float) / 100
)

In [378]:
df = df.merge(
    df_increment,
    left_on='Grup Professional',
    right_on='Grup',
    how='left'
)
df

,Nom,Cognoms,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,No Fills,Grup Professional,nombre_completo,nacida_en_españa,Fills_,fecha_nacimiento,Edad_actual,Grup,Increment
0,Inês,Ferreira Silva,Portugal,Lisboa,25,2,1953,Dona,1.144,NaN,1.0,Grup B,Inês Ferreira Silva,No,No,1953-02-25,72,Grup B,0.035
1,Clara,Sánchez Martínez,Espanya,Barcelona,18,3,1996,Dona,1.253,1.0,NaN,Grup A,Clara Sánchez Martínez,Si,Si,1996-03-18,29,Grup A,0.050
2,Fatima,Fassi,Marroc,Rabat,6,11,2005,Altres,1.441,1.0,NaN,Grup A,Fatima Fassi,No,Si,2005-11-06,19,Grup A,0.050
3,Khadija,Bennani Bennani,Marroc,Rabat,20,1,1995,Dona,1.944,NaN,1.0,Grup B,Khadija Bennani Bennani,No,No,1995-01-20,30,Grup B,0.035
4,Toni,Sánchez García,Espanya,Barcelona,9,8,1999,Home,1.043,NaN,1.0,Grup A,Toni Sánchez García,Si,No,1999-08-09,26,Grup A,0.050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Marta,Ferrer Ferrer,Espanya,Sevilla,1,6,1951,Dona,1.216,NaN,1.0,Grup B,Marta Ferrer Ferrer,Si,No,1951-06-01,74,Grup B,0.035
996,Joan,García,Espanya,Sevilla,11,4,1959,Home,971.000,NaN,1.0,Grup A,Joan García,Si,No,1959-04-11,66,Grup A,0.050
997,Laia,Ferrer Martínez,Espanya,Barcelona,11,11,1980,Dona,682.000,NaN,1.0,Grup A,Laia Ferrer Martínez,Si,No,1980-11-11,44,Grup A,0.050
998,Jordi,García,Espanya,Barcelona,23,5,1984,Home,1.699,1.0,NaN,Grup C,Jordi García,Si,Si,1984-05-23,41,Grup C,0.020
999,Clara,Sánchez López,Espanya,Bilbao,1,8,1952,Dona,1.217,NaN,1.0,Grup A,Clara Sánchez López,Si,No,1952-08-01,73,Grup A,0.050

2.2 Actualitza la columna salari en funció dels percentatges que s'adjunten. No modifiquis manualment els increments, escriu codi Python per fer les conversions necessàries.

In [379]:

df['salario_mensual_actualizada'] = df['Salari mensual'] * (1 + df['Increment']).round(2)
df

,Nom,Cognoms,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,No Fills,Grup Professional,nombre_completo,nacida_en_españa,Fills_,fecha_nacimiento,Edad_actual,Grup,Increment,salario_mensual_actualizada
0,Inês,Ferreira Silva,Portugal,Lisboa,25,2,1953,Dona,1.144,NaN,1.0,Grup B,Inês Ferreira Silva,No,No,1953-02-25,72,Grup B,0.035,1.17832
1,Clara,Sánchez Martínez,Espanya,Barcelona,18,3,1996,Dona,1.253,1.0,NaN,Grup A,Clara Sánchez Martínez,Si,Si,1996-03-18,29,Grup A,0.050,1.31565
2,Fatima,Fassi,Marroc,Rabat,6,11,2005,Altres,1.441,1.0,NaN,Grup A,Fatima Fassi,No,Si,2005-11-06,19,Grup A,0.050,1.51305
3,Khadija,Bennani Bennani,Marroc,Rabat,20,1,1995,Dona,1.944,NaN,1.0,Grup B,Khadija Bennani Bennani,No,No,1995-01-20,30,Grup B,0.035,2.00232
4,Toni,Sánchez García,Espanya,Barcelona,9,8,1999,Home,1.043,NaN,1.0,Grup A,Toni Sánchez García,Si,No,1999-08-09,26,Grup A,0.050,1.09515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Marta,Ferrer Ferrer,Espanya,Sevilla,1,6,1951,Dona,1.216,NaN,1.0,Grup B,Marta Ferrer Ferrer,Si,No,1951-06-01,74,Grup B,0.035,1.25248
996,Joan,García,Espanya,Sevilla,11,4,1959,Home,971.000,NaN,1.0,Grup A,Joan García,Si,No,1959-04-11,66,Grup A,0.050,1019.55000
997,Laia,Ferrer Martínez,Espanya,Barcelona,11,11,1980,Dona,682.000,NaN,1.0,Grup A,Laia Ferrer Martínez,Si,No,1980-11-11,44,Grup A,0.050,716.10000
998,Jordi,García,Espanya,Barcelona,23,5,1984,Home,1.699,1.0,NaN,Grup C,Jordi García,Si,Si,1984-05-23,41,Grup C,0.020,1.73298
999,Clara,Sánchez López,Espanya,Bilbao,1,8,1952,Dona,1.217,NaN,1.0,Grup A,Clara Sánchez López,Si,No,1952-08-01,73,Grup A,0.050,1.27785

# 2 Ejercicio
2.1Utilitzant un bucle, exporta en 4 fitxers (format .xlsx o .csv) les dades de cada Grup Professional.

Per exemple: "dades_GrupA.xlsx" , "dades_GrupB.xlsx" ...

In [382]:
grupos = df['Grup Professional'].unique()

for grupo in grupos:
    df_grupo = df[df['Grup Professional'] == grupo]
    filename = f"dades_{grupo.replace(' ','')}.xlsx" 
    df_grupo.to_excel(filename, index=False)

2.2 Exporta un 5è DataFrame en format .xlsx o .csv que contingui quants treballadors hi ha per cada Grup Professional, quin és el seu sou mig i quina és la seva edat mediana.

In [385]:
resumen_grup = df.groupby('Grup Professional').agg(
    Treballadors=('Nom', 'count'),          # Número de trabajadores
    Sou_mig=('Salari mensual', 'mean'),     # Salario medio
    Edat_median=('Edad_actual', 'median')          # Edad mediana
).reset_index()

# Redondear valores
resumen_grup['Sou_mig'] = resumen_grup['Sou_mig'].round(2)
resumen_grup['Edat_median'] = resumen_grup['Edat_median'].astype(int)

# Exportar resumen
resumen_grup.to_excel("resumen_grups.xlsx", index=False)

# Nivel 3 

El nivell 3 d’aquest sprint és totalment diferent a d’altres sprints que has fet fins ara, ja que són exercicis més abstractes que requereixen barallar-s’hi bastant. No continuen amb el mateix dataset dels nivells anteriors, sinó que et plantegen dues situacions noves totalment diferents entre elles.

3.1 Crea una funció que prengui un dataframe com a paràmetre d'entrada.

La funció ha de crear (i exportar) un gràfic automàticament per a cada columna del dataframe. Per exemple:

un histograma/boxplot si la variable és numèrica
unes barres dels valors més freqüents si és categòrica
unes barres dels anys més freqüents si la dada està en format data.
La idea és crear una funció que funcioni per qualsevol dataframe, no només amb el que hem treballat fins ara.

Mostra el resultat de la funció en algun dels datasets d’exemple que conté el paquet seaborn. Per exemple, iris, penguins o titanic.

Tingues en consideració que en el següent sprint treballaràs exclusivament amb gràfics. L’objectiu d’aquest exercici no és crear gràfics molt elaborats, sinó resoldre una necessitat de manera ràpida i automàtica.

3.2 Carrega l'arxiu matriu_distancies.xlsx a pandas, de manera que els noms de files i els noms de columnes siguin els de les ciutats. Borra "Las Palmas de Gran Canaria" i "Palma" perquè poguem fer el trajecte en cotxe.

Font: Mejores Rutas

Ens interessa visitar totes les ciutats principals d'Espanya recorrent la mínima distància possible.

No cal que ho facis de forma òptima, ens interessa que desenvolupis una solució raonable utilitzant les eines que tens actualment.

Per exemple, una aproximació senzilla (que no òptima) seria anant sempre a la ciutat més propera que no haguem visitat encara

Fes una funció que donada la matriu de distàncies i la ciutat d'origen, faci una proposta de ruta que sigui el més curta possible que puguis, retornant una llista amb l'ordre de visita. Dóna també la distància total recorreguda.

(EXTRA) Des de quina ciutat la ruta seria més curta amb l'algoritme plantejat

In [384]:
df.columns.tolist()

['Nom',
 'Cognoms',
 "País d'origen",
 'Ciutat',
 'Dia',
 'Mes',
 'Any',
 'Gènere',
 'Salari mensual',
 'Fills',
 'No Fills',
 'Grup Professional',
 'nombre_completo',
 'nacida_en_españa',
 'Fills_',
 'fecha_nacimiento',
 'Edad_actual',
 'Grup',
 'Increment',
 'salario_mensual_actualizada']